<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./hp_bar_a</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{46,9}</string>
    <key>spriteSize</key>
    <string>{238,23}</string>
    <key>spriteSourceSize</key>
    <string>{300,39}</string>
    <key>textureRect</key>
    <string>{{0,45},{238,23}}</string>
    <key>textureRotated</key>
    <false/>
    <key>triangles</key>
    <string>0 1 2 0 3 1</string>
    <key>vertices</key>
    <string>46 29 280 9 280 29 46 9</string>
    <key>verticesUV</key>
    <string>0 65 234 45 234 65 0 45</string>
   </dict>
   <key>./hp_bar_b</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{304,43}</string>
    <key>spriteSourceSize</key>
    <string>{300,39}</string>
    <key>textureRect</key>
    <string>{{0,0},{304,43}}</string>
    <key>textureRotated</key>
    <false/>
    <key>triangles</key>
    <string>0 1 2 0 2 3 3 4 0</string>
    <key>vertices</key>
    <string>296 39 0 39 0 0 300 0 300 32</string>
    <key>verticesUV</key>
    <string>296 39 0 39 0 0 300 0 300 32</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{303,67}</string>
   <key>textureFileName</key>
   <string>hud.png</string>
  </dict>
 </dict>
</plist>
