<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,960}</string>
                <key>spriteSourceSize</key>
                <string>{640,960}</string>
                <key>textureRect</key>
                <string>{{1,1},{640,960}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>640 960 0 960 0 0 640 0</string>
                <key>verticesUV</key>
                <string>641 961 1 961 1 1 641 1</string>
            </dict>
            <key>player.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,127}</string>
                <key>spriteSourceSize</key>
                <string>{128,127}</string>
                <key>textureRect</key>
                <string>{{1,963},{128,127}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>7 8 9 4 6 7 0 3 7 4 5 6 3 4 7 1 2 3 0 1 3 0 7 9</string>
                <key>vertices</key>
                <string>105 70 128 96 128 110 73 127 54 127 0 109 0 96 23 70 59 0 69 0</string>
                <key>verticesUV</key>
                <string>106 1033 129 1059 129 1073 74 1090 55 1090 1 1072 1 1059 24 1033 60 963 70 963</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tp_level_01.png</string>
            <key>size</key>
            <string>{642,1091}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1479bd312a7f384f733a4d5f2d87596a:09f7c8d2a0961b3a0a9961487d3bfb41:946fd814ca4086f5263ee77933525915$</string>
            <key>textureFileName</key>
            <string>tp_level_01.png</string>
        </dict>
    </dict>
</plist>
