Debug.win32
Release.win32
*.log
*.tlog
*.obj
*.idb
*.pdb
*.suo
*.ipch
*.pch
*.VC.db*
*.user
*.pyc
proj.win32/.vs
bin
build/*
!build/test.txt
!build/install-deps-linux.sh
cocos2d/cocos/platform/android/libcocos2dx/build/
