<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>img_bar.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-5}</string>
    <key>spriteSize</key>
    <string>{158,19}</string>
    <key>spriteSourceSize</key>
    <string>{160,32}</string>
    <key>textureRect</key>
    <string>{{0,34},{158,19}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>img_blue.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,32}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{0,105},{32,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>img_borderbar.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{160,32}</string>
    <key>spriteSourceSize</key>
    <string>{160,32}</string>
    <key>textureRect</key>
    <string>{{0,0},{160,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>img_circle.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,48}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{0,55},{48,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>img_circle_bg.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,48}</string>
    <key>spriteSourceSize</key>
    <string>{48,48}</string>
    <key>textureRect</key>
    <string>{{50,55},{48,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>img_gold.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,32}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{34,105},{32,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>img_heart.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,32}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{100,55},{32,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>img_monster.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,32}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{68,105},{32,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>img_pause.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{26,26}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{102,138},{26,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>img_skill01.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{12,32}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{136,105},{12,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>img_skill02.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,32}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{134,55},{32,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>img_skill03.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{32,31}</string>
    <key>spriteSourceSize</key>
    <string>{32,32}</string>
    <key>textureRect</key>
    <string>{{102,105},{32,31}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{168,166}</string>
   <key>textureFileName</key>
   <string>hud.png</string>
  </dict>
 </dict>
</plist>
