<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>enemy01.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{46,42}</string>
    <key>spriteSourceSize</key>
    <string>{46,42}</string>
    <key>textureRect</key>
    <string>{{0,84},{46,42}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>enemy02.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{52,42}</string>
    <key>spriteSourceSize</key>
    <string>{52,42}</string>
    <key>textureRect</key>
    <string>{{0,0},{52,42}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>enemy03.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{51,42}</string>
    <key>spriteSourceSize</key>
    <string>{51,42}</string>
    <key>textureRect</key>
    <string>{{0,42},{51,42}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>enemy04.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{48,42}</string>
    <key>spriteSourceSize</key>
    <string>{48,42}</string>
    <key>textureRect</key>
    <string>{{52,38},{48,42}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{56,38}</string>
    <key>spriteSourceSize</key>
    <string>{56,38}</string>
    <key>textureRect</key>
    <string>{{52,0},{56,38}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{128,128}</string>
   <key>textureFileName</key>
   <string>units.png</string>
  </dict>
 </dict>
</plist>
