<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>img_bar.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-11}</string>
    <key>spriteSize</key>
    <string>{316,36}</string>
    <key>spriteSourceSize</key>
    <string>{320,64}</string>
    <key>textureRect</key>
    <string>{{0,66},{316,36}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>img_blue.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,64}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{0,200},{64,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>img_borderbar.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{320,64}</string>
    <key>spriteSourceSize</key>
    <string>{320,64}</string>
    <key>textureRect</key>
    <string>{{0,0},{320,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>img_circle.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{94,94}</string>
    <key>spriteSourceSize</key>
    <string>{96,96}</string>
    <key>textureRect</key>
    <string>{{0,104},{94,94}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>img_circle_bg.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{94,94}</string>
    <key>spriteSourceSize</key>
    <string>{96,96}</string>
    <key>textureRect</key>
    <string>{{96,104},{94,94}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>img_gold.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,64}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{66,200},{64,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>img_heart.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,64}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{192,104},{64,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>img_monster.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,64}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{132,200},{64,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>img_pause.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{50,50}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{66,266},{50,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>img_skill01.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{22,63}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{258,104},{22,63}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>img_skill02.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,64}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{198,200},{64,64}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>img_skill03.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{64,62}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{0,266},{64,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{322,330}</string>
   <key>textureFileName</key>
   <string>hud.png</string>
  </dict>
 </dict>
</plist>
